.profile-container {
  position: relative;
}

.heading1 {
  font-family: 'Lobster', cursive, Open Sans;
  font-size: 40px;
  position: relative;
  text-align: center;
}

.heading2 {
  font-family: 'Lobster', cursive, Open Sans;
  font-size: 40px;
  position: relative;
  top: 0px;
  text-align: center;
}

.heading1 p {
  font-family: 'Lobster', cursive, Open Sans;
  font-size: 60px;
}

.picture1 img {
  display: block;
  position: relative;
  text-align: center;
  padding: 0 20%;
}

.social {
  position: relative;
  top: 20px;
  padding: 0px 50%;
}
