/* line 2, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
html {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

/* line 6, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
html, body {
  /* For the loading indicator to be vertically centered ensure */
  /* the html and body elements take up the full viewport */
  min-height: 100%;
}

/* line 12, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
body {
  background-color: white;
}

/* line 15, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
.loading {
  /* Replace #333 with the background-color of your choice */
  /* Replace loading.gif with the loading image of your choice */
  background: url(/assets/ajax-loader-aebc793d0064383ee6b1625bf3bb32532ec30a5c12bf9117066107d412119123.gif) no-repeat 50% 50%;
}

/* line 21, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
body {
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* line 27, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
div#errorMsg p {
  color: #F00;
}

/* line 32, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
a {
  color: #6fa8dc;
  font-weight: 300;
  text-decoration: none;
}

/* line 38, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
a:hover {
  color: #3d85c6;
  text-decoration: underline;
}

/* line 43, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
a#viewSource {
  display: block;
  margin: 1.3em 0 0 0;
  border-top: 1px solid #999;
  padding: 1em 0 0 0;
}

/* line 50, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
div#links a {
  display: block;
  line-height: 1.3em;
  margin: 0 0 1.5em 0;
}

/* line 56, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
div.outputSelector {
  margin: -1.3em 0 2em 0;
}

@media screen and (min-width: 1000px) {
  /* hack! to detect non-touch devices */
  /* line 62, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
  div#links a {
    line-height: 0.8em;
  }
}
/* line 67, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
h1 a {
  font-weight: 300;
  margin: 0 10px 0 0;
  white-space: nowrap;
}

/* line 73, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
audio {
  max-width: 100%;
}

/* line 77, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 1em;
  word-break: break-word;
}

/* line 84, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
button {
  background-color: #d84a38;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  margin: 0 0 1em 0;
  padding: 0.5em 0.7em 0.6em 0.7em;
}

/* line 95, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
button:active {
  background-color: #cf402f;
}

/* line 99, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
button:hover {
  background-color: #cf402f;
}

/* line 103, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
button[disabled] {
  color: #ccc;
}

/* line 107, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
button[disabled]:hover {
  background-color: #d84a38;
}

/* line 111, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
canvas {
  background-color: #ccc;
  max-width: 100%;
  width: 100%;
}

/* line 117, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
code {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* line 122, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
.container {
  margin: 0 auto 0 auto;
  max-width: 40em;
  padding: 1em 1.5em 1.3em 1.5em;
}

/* line 128, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
div#links {
  padding: 0.5em 0 0 0;
}

/* line 132, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
h1 {
  border-bottom: 1px solid #ccc;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0 0 0.8em 0;
  padding: 0 0 0.2em 0;
  text-align: center;
}

/* line 142, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
h2 {
  color: #444;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0 0 0.8em 0;
}

/* line 150, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
h3 {
  border-top: 1px solid #eee;
  color: #666;
  font-weight: 500;
  margin: 20px 0 10px 0;
  padding: 10px 0 0 0;
  white-space: nowrap;
}

/* line 159, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
html {
  /* avoid annoying page width change
  when moving from the home page */
  overflow-y: scroll;
}

/* line 165, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
img {
  border: none;
  max-width: 100%;
}

/* line 170, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
input[type=radio] {
  position: relative;
  top: -1px;
}

/* line 175, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
p {
  color: #444;
  font-weight: 300;
  line-height: 1.6em;
}

/* line 181, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
p#data {
  border-top: 1px dotted #666;
  font-family: Courier New, monospace;
  line-height: 1.3em;
  max-height: 1000px;
  overflow-y: auto;
  padding: 1em 0 0 0;
}

/* line 190, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
p.borderBelow {
  border-bottom: 1px solid #aaa;
  padding: 0 0 20px 0;
}

/* line 195, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
section p:last-of-type {
  margin: 0;
}

/* line 199, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
section {
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  padding: 0 0 20px 0;
}

/* line 205, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
section:last-of-type {
  border-bottom: none;
  padding: 0 0 1em 0;
}

/* line 210, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
select {
  margin: 0 1em 1em 0;
  position: relative;
  top: -1px;
}

/* line 216, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
h1 span {
  white-space: nowrap;
}

/* line 220, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
strong {
  font-weight: 500;
}

/* line 224, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
textarea {
  font-family: 'Roboto', sans-serif;
}

/* line 228, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
video {
  background: #222;
  margin: 0 0 20px 0;
  width: 100%;
}

@media screen and (max-width: 650px) {
  /* line 235, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
  h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 550px) {
  /* line 241, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
  button:active {
    background-color: darkRed;
  }

  /* line 244, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
  h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 450px) {
  /* line 250, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
  h1 {
    font-size: 20px;
  }
}
/* line 255, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
.none {
  -webkit-filter: none;
  filter: none;
}

/* line 259, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* line 263, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

/* line 267, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
.invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

/* line 271, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
.sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

/* line 276, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
button#snapshot, button#save-button, button#retake-button, button#next-beard {
  margin: 0 10px 25px 0;
  width: 110px;
}

/* line 281, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
video {
  object-fit: cover;
}

/*
 *  Copyright (c) 2015 The WebRTC project authors. All Rights Reserved.
 *
 *  Use of this source code is governed by a BSD-style license
 *  that can be found in the LICENSE file in the root of the source
 *  tree.
 */
/* line 295, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
.hidden {
  display: none;
}

/* line 299, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
div#errorMsg p {
  color: #F00;
}

/* line 303, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* line 308, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
a {
  color: #6fa8dc;
  font-weight: 300;
  text-decoration: none;
}

/* line 314, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
a:hover {
  color: #3d85c6;
  text-decoration: underline;
}

/* line 319, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
a#viewSource {
  display: block;
  margin: 1.3em 0 0 0;
  border-top: 1px solid #999;
  padding: 1em 0 0 0;
}

/* line 326, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
div#links a {
  display: block;
  line-height: 1.3em;
  margin: 0 0 1.5em 0;
}

/* line 332, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
div.outputSelector {
  margin: -1.3em 0 2em 0;
}

@media screen and (min-width: 1000px) {
  /* hack! to detect non-touch devices */
  /* line 338, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
  div#links a {
    line-height: 0.8em;
  }
}
/* line 343, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
h1 a {
  font-weight: 300;
  margin: 0 10px 0 0;
  white-space: nowrap;
}

/* line 349, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
audio {
  max-width: 100%;
}

/* line 353, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 1em;
  word-break: break-word;
}

/* line 360, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
button {
  background-color: #d84a38;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  margin: 0 0 1em 0;
  padding: 0.5em 0.7em 0.6em 0.7em;
}

/* line 371, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
button:active {
  background-color: #cf402f;
}

/* line 375, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
button:hover {
  background-color: #cf402f;
}

/* line 379, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
button[disabled] {
  color: #ccc;
}

/* line 383, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
button[disabled]:hover {
  background-color: #d84a38;
}

/* line 387, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
canvas {
  background-color: #ccc;
  max-width: 100%;
  width: 100%;
}

/* line 393, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
code {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* line 398, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
div#container {
  margin: 0 auto 0 auto;
  max-width: 40em;
  padding: 1em 1.5em 1.3em 1.5em;
}

/* line 404, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
div#links {
  padding: 0.5em 0 0 0;
}

/* line 408, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
h1 {
  border-bottom: 1px solid #ccc;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0 0 0.8em 0;
  padding: 0 0 0.2em 0;
}

/* line 416, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
h2 {
  color: #444;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0 0 0.8em 0;
}

/* line 424, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
h3 {
  border-top: 1px solid #eee;
  color: #666;
  font-weight: 500;
  margin: 20px 0 10px 0;
  padding: 10px 0 0 0;
  white-space: nowrap;
}

/* line 433, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
html {
  /* avoid annoying page width change
  when moving from the home page */
  overflow-y: scroll;
}

/* line 439, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
img {
  border: none;
  max-width: 100%;
}

/* line 444, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
input[type=radio] {
  position: relative;
  top: -1px;
}

/* line 449, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
p {
  color: #444;
  font-weight: 300;
  line-height: 1.6em;
}

/* line 455, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
p#data {
  border-top: 1px dotted #666;
  font-family: Courier New, monospace;
  line-height: 1.3em;
  max-height: 1000px;
  overflow-y: auto;
  padding: 1em 0 0 0;
}

/* line 464, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
p.borderBelow {
  border-bottom: 1px solid #aaa;
  padding: 0 0 20px 0;
}

/* line 469, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
section p:last-of-type {
  margin: 0;
}

/* line 473, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
section {
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  padding: 0 0 20px 0;
}

/* line 479, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
section:last-of-type {
  border-bottom: none;
  padding: 0 0 1em 0;
}

/* line 484, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
select {
  margin: 0 1em 1em 0;
  position: relative;
  top: -1px;
}

/* line 490, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
h1 span {
  white-space: nowrap;
}

/* line 494, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
strong {
  font-weight: 500;
}

/* line 498, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
textarea {
  font-family: 'Roboto', sans-serif;
}

/* line 502, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
video {
  background: #222;
  margin: 0px;
  width: 100%;
}

/* line 508, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

@media screen and (max-width: 650px) {
  /* line 516, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
  h1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 550px) {
  /* line 522, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
  button:active {
    background-color: darkRed;
  }

  /* line 525, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
  h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 450px) {
  /* line 531, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
  h1 {
    font-size: 20px;
  }
}
/* line 538, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
.beard-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* line 548, /Users/twillzy/hackathon/rhok_winter2016/janubeard/app/assets/stylesheets/main.scss */
.video-container {
  position: relative;
  transform: scaleX(-1);
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
.heading1 {
  font-family: 'Lobster', cursive, Open Sans;
  font-size: 20px;
  position: relative;
  top: 40px;
  text-align: center;
}

.picture1 {
  position: relative;
  margin: 0 auto;
  top: 80px;
  display: block;
}

.social1 {
  position: relative;
  top: 120px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

