<header>
  <nav>
    <ul>
      <div class="left-nav">
      <ul>
        <li><a href="#home">Home</a></li>
      </ul>
      </div>

      <div class="right-nav">
        <li><a href=""><%= image_tag 'beard0.png', class: 'beard-image' %></a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
      </ul>
</header>
