  <div id="container">
    <video autoplay></video>


    <%= image_tag 'beard1.png', class: 'beard-image' %>

    <label for="select">Filter: </label>
    <select id="filter">
      <option value="none">None</option>
      <option value="blur">Blur</option>
      <option value="grayscale">Grayscale</option>
      <option value="invert">Invert</option>
      <option value="sepia">Sepia</option>
    </select>

    <button id="snapshot">Beardify!</button>

    <canvas id="beard-canvas"></canvas>
  </div>