    <video autoplay></video>

    <img class="beard-image" src="beard1.png" alt="">

    <label for="select">Filter: </label>
    <select id="filter">
      <option value="none">None</option>
      <option value="blur">Blur</option>
      <option value="grayscale">Grayscale</option>
      <option value="invert">Invert</option>
      <option value="sepia">Sepia</option>
    </select>

    <button id="snapshot">Beardify!</button>

    <canvas id="beard-canvas"></canvas>