  <div id="container">
    <div class="video-container">
        <video autoplay></video>
        <%= image_tag 'beard0.png', class: 'beard-image' %>
        <canvas id="beard-canvas"></canvas>
    </div>

    <div class="button-container">
      <button id="snapshot">Beardify</button>
      <button id="retake-button">Retake</button>
      <button id="save-button">Save</button>
      <button id="next-beard">Next Beard</button>
    </div>
  </div>
